* {
    box-sizing: border-box;
}

.form-container {
    background-color: #0f172a;
    color: #e0e0e0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

span {
    font-family: Arial;
    display: inline-block;
    font-size: 1.5rem;
    margin: 15px 0px;
    font-weight: 600;
}

form {
    font-family: Arial;
    background-color: #1e293b;
    padding: 1.8rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.5);
    width: 100%;
    max-width: 600px;
}

label {
    color: #cbd5e1;
    display: block;
    margin-bottom: 0.8rem;
    font-weight: 500;
}

input {
    font-family: Arial;
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border-radius: 0.375rem;
    border: 1px solid #334155;
    background-color: #111827;
    color: #e0e0e0;
}

textarea {
    font-family: Arial;
    width: 100%;
    height: 200px;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border-radius: 0.375rem;
    border: 1px solid #334155;
    background-color: #111827;
    color: #e0e0e0;
}

.email-body {
    overflow: scroll;
}

input:focus {
    outline: none;
    border-color: #8b5cf6;
    box-shadow: 0 0 0 3px #8b5cf64c;
}

textarea:focus {
    outline: none;
    border-color: #8b5cf6;
    box-shadow: 0 0 0 3px #8b5cf64c;
}

button {
    width: 100%;
    padding: 0.8rem;
    border-radius: 0.375rem;
    border: none;
    background-color: #8b5cf6;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: #7c3aed;
}
